.wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1.5rem;
}
@media (min-width:768px) {
    .wrapper{
        display: grid;
        gap: 2rem;
        padding: 2.5rem;
    }
}
@media (min-width:1024px) {
    .wrapper{
       grid-template-columns: 3fr 1fr;
    }
}