.wrapper{
    padding: 1.5rem;
    margin-inline: auto;
}
@media (min-width:768px) {
    .wrapper{
        display: grid;
        gap: 2rem;
        padding: 2.5rem;
    }
}
@media (min-width:1024px) {
    .wrapper{
        padding: 6rem;
        flex-direction: row;
        grid-template-columns: repeat(2,70% 30%);
    }
}